<!DOCTYPE HTML>
<html>
  <head>
    <title>SyncUS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Material Design fonts -->
    <link href="http://ac-ebjr3wfn.clouddn.com/26c5cc13ecd4f33c.css" rel="stylesheet">
    <link href="http://ac-ebjr3wfn.clouddn.com/875f5354eb56b9e0.css" rel="stylesheet">
    <link href="http://ac-ebjr3wfn.clouddn.com/784732a4bb8fbf60.css" rel="stylesheet">
    <link href="http://ac-ebjr3wfn.clouddn.com/abe464121b065c1c.css" rel="stylesheet">
  </head>
  <body>
    <h1>SyncUS</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
  </body>
</html>
