<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="/stylesheets/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/stylesheets/ripples.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  <title>SyncUS -- 登录</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript">

    function badluck(){
      username = document.getElementById('username').value;
      console.log( username );
      if ( username ){
        $.post( "badluck", { username: username } ).done(function(){
          alert('提交成功');
        }).fail(function (response){
          alert( response.responseText );
        });
      } else {
        alert('用户名为空，请先填写用户名');
      }
    }

  </script>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
          <div class="col-md-12">
            <!-- Nothing here now -->
            <!-- @sparanoid Jan 28, 2015, 7:58 PM -->
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->

        <div class="row">
          <div class="col-md-12">
            <form action="/login" method="post" class="form-signin" role="form">
              <h2 class="font-logo text-center">用户登录</h2>

              <% if (info.length > 0) { %>
                <div class="alert alert-dismissible alert-info">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% for (var i = 0; i < info.length; i++) { %>
                    <p><%= info[i] %></p>
                  <% } %>
                </div>
              <% } %>
              <% if (errors.length > 0) { %>
                <div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% for (var i = 0; i < errors.length; i++) { %>
                    <p><%= errors[i] %></p>
                  <% } %>
                </div>
              <% } %>

              <div class="form-group">
                <label for="inputEmail" class="col-md-2 control-label">Email</label>

                <div class="col-md-10">
                  <input type="email" class="form-control" id="username" name="username" placeholder="Email" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
              </div>
              <!-- .form-group -->
              <p><button class="btn btn-lg btn-primary btn-block" type="submit">登录</button></p>
            </form>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->

        <div class="row">
          <div class="col-md-12">
            <p class="text-center"><a href="/register">没帐号？先注册</a> 或 <a onclick="badluck(); return false">输入用户名，点此重置密码</a></p>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-md-4 col-md-offset-4 -->
    </div>
    <!-- .row -->

  </div> <!-- /container -->
</body>
</html>
