<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <!-- Bootstrap Material Design -->
  <link href="//ac-ebjr3wfn.clouddn.com/26c5cc13ecd4f33c.css" rel="stylesheet">
  <link href="//ac-ebjr3wfn.clouddn.com/875f5354eb56b9e0.css" rel="stylesheet">
  <link href="//ac-ebjr3wfn.clouddn.com/784732a4bb8fbf60.css" rel="stylesheet">
  <link href="//ac-ebjr3wfn.clouddn.com/abe464121b065c1c.css" rel="stylesheet">
  <title>SyncUS -- 登录</title>
  <script type="text/javascript" src="https://ac-ebjr3wfn.clouddn.com/8a693e41ac0285fc.js"></script>
  <script type="text/javascript">

    function badluck(){
      username = document.getElementById('username').value;
      if ( username ){
        $.post( "badluck", { username: username } ).done(function(){
          alert('提交成功');
        }).fail(function (response){
          alert( response.responseText );
        });
      } else {
        alert('用户邮箱为空，请先填写邮箱');
      }
    }

  </script>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <!-- .row -->
        <div class="row">
          <div class="col-md-12">
            <form action="/login" method="post" class="form-signin" role="form">
              <h2 class="font-logo text-center">用户登录</h2>

              <% if (info.length > 0) { %>
                <div class="alert alert-dismissible alert-info">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% for (var i = 0; i < info.length; i++) { %>
                    <p><%= info[i] %></p>
                  <% } %>
                </div>
              <% } %>
              <% if (errors.length > 0) { %>
                <div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% for (var i = 0; i < errors.length; i++) { %>
                    <p><%= errors[i] %></p>
                  <% } %>
                </div>
              <% } %>

              <div class="form-group">
                <label for="inputEmail" class="col-md-2 control-label">Email</label>

                <div class="col-md-10">
                  <input type="email" class="form-control" id="username" name="username" placeholder="Email" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
              </div>
              <!-- .form-group -->
              <p><button class="btn btn-lg btn-primary btn-block" type="submit">登录</button></p>
            </form>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->

        <div class="row">
          <div class="col-md-12">
            <p class="text-center"><a href="/register" >没帐号？先注册</a> 或 <a onclick="badluck(); return false">输入用户名，点此重置密码</a></p>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-md-4 col-md-offset-4 -->
    </div>
    <!-- .row -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted" style="text-align: right;padding-right: 150px">powered by <a href="https://leancloud.cn" class="logo font-logo">LeanCloud</a></p>
      </div>
    </footer>
  </div> <!-- /container -->
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72792843-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
