<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <!-- Bootstrap Material Design -->
  <link href="https://ac-ebjr3wfn.clouddn.com/26c5cc13ecd4f33c.css" rel="stylesheet">
  <link href="https://ac-ebjr3wfn.clouddn.com/875f5354eb56b9e0.css" rel="stylesheet">
  <link href="https://ac-ebjr3wfn.clouddn.com/784732a4bb8fbf60.css" rel="stylesheet">
  <link href="https://ac-ebjr3wfn.clouddn.com/abe464121b065c1c.css" rel="stylesheet">
  <title>SyncUS -- 注册</title>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">

        <div class="row">
          <div class="col-md-12">
            <form action="/register" method="post" class="form-signin" role="form">
              <h2 class="font-logo text-center">账户注册</h2>

              <% if (errors.length > 0) { %>
                <div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <% for (var i = 0; i < errors.length; i++) { %>
                    <p><%= errors[i] %></p>
                  <% } %>
                </div>
              <% } %>

              <div class="form-group">
                <label for="username" class="sr-only">Email</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Email" required autofocus>
              </div>
              <!-- .form-group -->
              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <!-- .form-group -->
              <div class="form-group">
                <label for="repeat_password" class="sr-only">Repeat Password</label>
                <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repeat Password" required>
              </div>
              <!-- .form-group -->
              <p><button class="btn btn-lg btn-primary btn-block" type="submit">注册</button></p>
            </form>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->

        <div class="row">
          <div class="col-md-12">
            <p class="text-center"><a href="/login">已有帐号？点击登录</a></p>
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-md-4 col-md-offset-4 -->
    </div>
    <!-- .row -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted" style="text-align: right;padding-right: 150px">powered by <a href="https://leancloud.cn" class="logo font-logo">LeanCloud</a></p>
      </div>
    </footer>

  </div> <!-- /container -->
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72792843-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
