<!DOCTYPE HTML>
<html>
  <head>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="/stylesheets/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/stylesheets/ripples.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>SyncUS --- Todo</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>

  </head>
  <body>
    <form action="/logout" method="post" class="form-signin" role="form">
      <button class="btn btn-raised btn-link pull-right" type="submit">Logout</button>
    </form>
    <h1><%= title %></h1>
    <p/>

    <div class="form-group label-floating">
      <form class="form-horizontal" action="/todos" method="POST">
        <label class="control-label" for="content">添加新的 TODO 事项，回车即确认</label>
        <input type="text" class="form-control input-lg" name="content"/>
      </form>
    </div>

    <p/>
      <% for(var i=0; i<todos.length; i++) {%>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3><%= todos[i].get('content') %></h3>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-8"><h6><%= todos[i].createdAt %></h6></div>
              <div class="col-md-4">
                <form action="/todos/done" method="post" class="form-signin pull-right" role="form">
                  <input type="hidden" class="form-control" id="itemId" name="itemId" value="<%=todos[i].id%>">
                  <button class="btn btn-raised active" type="submit"><code>.finish</code></button>
                </form>
              </div>
            </div>
              
            
          </div>
        </div>

      <% } %>

  </body>
</html>
