<!DOCTYPE HTML>
<html>
  <head>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="/stylesheets/bootstrap-material-design.css" rel="stylesheet">
    <link href="/stylesheets/ripples.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>jwfing's Todo</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p/>
    <form action="/todos" method="POST">
      <input type="text" class="form-control" name="content" placeholder="编写新的 TODO 事项，回车即添加" />
    </form>
    <p/>
    <ol>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %> --- <%= todos[i].createdAt %></li>
      <% } %>
    </ol>
  </body>
</html>
